## Data exploration
I made this notebook to explore the data, the understand it and decide upon how we should preprocess it.
I make no alterations to the data here.

In [13]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset_mood_smartphone.csv')
df.head()

   Unnamed: 0       id                     time variable  value
0           1  AS14.01  2014-02-26 13:00:00.000     mood    6.0
1           2  AS14.01  2014-02-26 15:00:00.000     mood    6.0
2           3  AS14.01  2014-02-26 18:00:00.000     mood    6.0
3           4  AS14.01  2014-02-26 21:00:00.000     mood    7.0
4           5  AS14.01  2014-02-27 09:00:00.000     mood    6.0

In [6]:
df.variable.unique(), print(len(df.variable.unique()))

19

(array(['mood', 'circumplex.arousal', 'circumplex.valence', 'activity',
        'screen', 'call', 'sms', 'appCat.builtin', 'appCat.communication',
        'appCat.entertainment', 'appCat.finance', 'appCat.game',
        'appCat.office', 'appCat.other', 'appCat.social', 'appCat.travel',
        'appCat.unknown', 'appCat.utilities', 'appCat.weather'],
       dtype=object),
 None)

**The variables and their descriptions**
<br> 
mood= The mood scored by the user on a scale of 1-10
<br> 
circumplex.arousal= The arousal scored by the user, on a scale between -2 to 2
<br> 
circumplex.valence= The valence scored by the user, on a scale between -2 to 2 (positivity vs. negativity of general emotional feeling)
<br>activity= Activity score of the user (number between 0 and 1)
<br>screen= Duration of screen activity (time)
<br>call= Call made (indicated by a 1)
<br>sms= SMS sent (indicated by a 1)
<br>appCat.builtin= Duration of usage of builtin apps (time)
<br>appCat.communication= Duration of usage of communication apps (time) Duration of usage of entertainment apps (time)
<br>appCat.entertainment= Duration of usage of entertainment apps (time)
<br>appCat.finance= Duration of usage of finance apps (time)
<br>appCat.game= Duration of usage of game apps (time)
<br>ppCat.office= Duration of usage of office apps (time)
<br>appCat.other= Duration of usage of other apps (time)
<br>appCat.social= Duration of usage of social apps (time)
<br>appCat.travel= Duration of usage of travel apps (time)
<br>appCat.unknown= Duration of usage of unknown apps (time)
<br>appCat.utilities= Duration of usage of utilities apps (time)
<br>appCat.weather= Duration of usage of weather apps (time)

In [15]:
#checking the occurence of vairables per patient per day
df[df['variable']=='activity']

       Unnamed: 0       id                     time  variable     value
16927       16928  AS14.01  2014-03-20 22:00:00.000  activity  0.071429
16928       16929  AS14.01  2014-03-20 23:00:00.000  activity  0.091667
16929       16930  AS14.01  2014-03-21 00:00:00.000  activity  0.008333
16930       16931  AS14.01  2014-03-21 01:00:00.000  activity  0.000000
16931       16932  AS14.01  2014-03-21 02:00:00.000  activity  0.000000
...           ...      ...                      ...       ...       ...
39887       39888  AS14.33  2014-05-30 16:00:00.000  activity  0.250000
39888       39889  AS14.33  2014-05-30 19:00:00.000  activity  0.035714
39889       39890  AS14.33  2014-05-30 20:00:00.000  activity  0.008403
39890       39891  AS14.33  2014-05-30 21:00:00.000  activity  0.017094
39891       39892  AS14.33  2014-05-30 22:00:00.000  activity  0.375000

[22965 rows x 5 columns]