In [54]:
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers
from tensorflow.keras.optimizers import RMSprop
import pandas as pd
import numpy as np
import seaborn as sns

In [55]:
df = pd.read_csv('/Users/kasper/OneDrive/study/UvA/Master/Data mining/Assignments/Assignment 1 - advanced/dataset_mood_smartphone.csv')
df.head()

   Unnamed: 0       id                     time variable  value
0           1  AS14.01  2014-02-26 13:00:00.000     mood    6.0
1           2  AS14.01  2014-02-26 15:00:00.000     mood    6.0
2           3  AS14.01  2014-02-26 18:00:00.000     mood    6.0
3           4  AS14.01  2014-02-26 21:00:00.000     mood    7.0
4           5  AS14.01  2014-02-27 09:00:00.000     mood    6.0

In [56]:
df['time'] = pd.to_datetime(df['time'])

In [57]:
df2 = df.set_index('time').groupby(['id', 'variable']).resample('D').mean().reset_index()
df2 = df2.drop('Unnamed: 0',axis=1)
df2.head()

        id  variable       time     value
0  AS14.01  activity 2014-03-20  0.081548
1  AS14.01  activity 2014-03-21  0.134050
2  AS14.01  activity 2014-03-22  0.236880
3  AS14.01  activity 2014-03-23  0.142741
4  AS14.01  activity 2014-03-24  0.078961

In [63]:
pivoted = df2.pivot(index=['id', 'time'], columns='variable', values='value').reset_index()
pivoted.columns.name=None
pivoted = pivoted[pivoted['mood'].notna()]
pivoted.head(20)

,id,time,activity,appCat.builtin,appCat.communication,appCat.entertainment,appCat.finance,appCat.game,appCat.office,appCat.other,...,appCat.travel,appCat.unknown,appCat.utilities,appCat.weather,call,circumplex.arousal,circumplex.valence,mood,screen,sms
9,AS14.01,2014-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,-0.250000,0.750000,6.250000,NaN,1.0
10,AS14.01,2014-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.333333,6.333333,NaN,NaN
32,AS14.01,2014-03-21,0.134050,14.269173,55.095526,53.024000,6.193000,NaN,57.40200,29.968875,...,70.418846,NaN,23.029000,NaN,1.0,0.200000,0.200000,6.200000,153.665872,NaN
33,AS14.01,2014-03-22,0.236880,7.781160,51.697063,46.662000,7.025333,NaN,NaN,14.020429,...,37.305000,NaN,39.207000,NaN,1.0,0.600000,0.500000,6.400000,47.613651,1.0
34,AS14.01,2014-03-23,0.142741,12.134396,53.442031,31.448667,10.850750,NaN,NaN,12.137167,...,NaN,NaN,30.086000,30.386,NaN,0.200000,0.800000,6.800000,67.067644,NaN
35,AS14.01,2014-03-24,0.078961,4.982506,47.541687,122.121375,5.684333,NaN,3.01000,11.093000,...,83.961000,NaN,89.366000,NaN,1.0,0.800000,0.000000,6.000000,76.772199,NaN
36,AS14.01,2014-03-25,0.098374,10.026874,69.437507,34.103000,10.763500,NaN,NaN,29.803167,...,NaN,29.402875,22.289300,NaN,NaN,0.500000,0.500000,6.750000,169.097283,1.0
37,AS14.01,2014-03-26,0.101308,8.460123,47.061534,130.068429,8.721833,NaN,NaN,16.249667,...,NaN,NaN,33.365000,NaN,NaN,-0.200000,0.600000,6.600000,94.389661,NaN
38,AS14.01,2014-03-27,0.159511,7.982643,43.353200,71.037667,14.073000,NaN,15.20425,9.755333,...,23.657000,NaN,16.275364,NaN,1.0,0.200000,0.800000,7.000000,129.201111,1.0
39,AS14.01,2014-03-28,0.095698,81.149960,24.078694,91.400273,12.738000,116.518,NaN,37.658500,...,59.632053,NaN,30.171700,NaN,1.0,-0.600000,0.600000,6.400000,55.948739,NaN
40,AS14.01,2014-03-29,0.068203,23.525663,47.731439,108.495267,NaN,NaN,NaN,24.227714,...,17.478333,NaN,25.026542,NaN,1.0,0.200000,1.000000,8.000000,130.040969,1.0
41,AS14.01,2014-03-30,0.049093,7.818208,61.833571,170.630778,NaN,NaN,NaN,12.333833,...,NaN,33.238500,38.296000,NaN,NaN,-0.500000,0.750000,7.500000,167.526444,NaN
42,AS14.01,2014-03-31,0.070505,17.019569,41.338271,51.732941,6.875833,51.176,NaN,24.414000,...,36.676200,29.290000,12.370882,NaN,1.0,0.000000,0.600000,7.400000,95.458339,NaN
43,AS14.01,2014-04-01,0.118443,5.749033,33.127859,42.943208,15.217389,78.247,30.79600,15.148750,...,115.330071,NaN,19.171704,NaN,1.0,0.200000,0.000000,6.000000,90.388979,NaN
44,AS14.01,2014-04-02,0.101917,16.428859,33.756859,46.323310,13.040895,NaN,90.48100,23.545261,...,NaN,NaN,21.335687,NaN,1.0,0.333333,0.666667,6.500000,94.506686,NaN
45,AS14.01,2014-04-03,0.049238,9.175747,46.424701,49.755038,25.411333,NaN,NaN,14.260133,...,19.082000,NaN,14.059385,NaN,1.0,-1.200000,0.000000,6.400000,79.857593,NaN
46,AS14.01,2014-04-04,0.126689,10.197026,44.566081,96.576688,NaN,NaN,NaN,22.100125,...,22.605857,NaN,9.899385,NaN,1.0,0.200000,0.400000,6.200000,80.385786,1.0
47,AS14.01,2014-04-05,0.119002,163.002043,37.708180,76.369000,NaN,NaN,NaN,11.590429,...,31.324167,NaN,13.217333,NaN,NaN,-0.400000,0.600000,6.800000,53.022714,NaN
48,AS14.01,2014-04-06,0.064408,33.945239,47.939186,93.607000,NaN,57.203,NaN,19.853333,...,NaN,NaN,9.249800,NaN,1.0,-0.750000,0.500000,6.500000,82.058484,NaN
49,AS14.01,2014-04-07,0.050671,7.079214,57.015620,74.520167,9.225600,NaN,17.10700,21.293500,...,60.247000,NaN,51.452750,NaN,1.0,-0.666667,0.250000,6.500000,80.708041,NaN

In [59]:
#pivoted.to_csv('pivoted_v1.csv')