In [6]:
import pandas as pd

In [26]:
# Load dataframe

dataframe = pd.read_csv("dataset_mood_smartphone.csv", index_col = 0)

dataframe.to_csv("dataset_mood_smartphone.csv", index=False)

# dataframe.drop(['Unnamed: 0'], axis=1)

In [27]:
dataframe.head()

        id                     time variable  value
1  AS14.01  2014-02-26 13:00:00.000     mood    6.0
2  AS14.01  2014-02-26 15:00:00.000     mood    6.0
3  AS14.01  2014-02-26 18:00:00.000     mood    6.0
4  AS14.01  2014-02-26 21:00:00.000     mood    7.0
5  AS14.01  2014-02-27 09:00:00.000     mood    6.0