In [1]:
import pandas as pd

        Unnamed: 0       id                     time        variable   value
376907     2770399  AS14.30  2014-04-11 07:51:16.948  appCat.weather   8.032
376908     2772465  AS14.30  2014-04-19 11:00:32.747  appCat.weather   3.008
376909     2774026  AS14.30  2014-04-26 10:19:07.434  appCat.weather   7.026
376910     2774133  AS14.30  2014-04-27 00:44:48.450  appCat.weather  23.033
376911     2784435  AS14.32  2014-04-07 18:25:14.036  appCat.weather  22.431

In [ ]:
# Load dataframe

dataframe = pd.read_csv("dataset_mood_smartphone.csv")

dataframe.tail()